/* Custom CSS */

.main {
    width: 80%;
}
.container.entry-content {
    width: 90%;
}
.picture-grid {
    width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
  
/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
  
.column img {
  margin-top: 8px;
  vertical-align: middle;
}

#resume {
    width: 90%;
}
.resume-column, .header-column {
    float: left;
    padding-top: 10px;
}

.left {
    width: 25%;
}

.right {
    width: 75%;
    max-width: 700px;
    padding-left: 20px;
}

.extra-padding {
    padding-top: 20px;
}

hr {
    border-top: 2px solid #7d2e68;
}
  
.header-left {
    width: 60%;
}

.header-right {
    width: 40%;
    text-align: right;
}

.resume-row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 50px;
}

.header-row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}